*{
  margin:0;
  padding:0;
  
}
.navbar{
  height:10%;
  width:100%;
  background-color:red;
  display:flex;
  
}
.logo{
  height:100%;
  width:30%;
  background-color:pink;
}
.menu {
  display:flex;
  margin-top:15px;
  
}
a{
  color:black;
  text-decrotion:none;
  margin:30px;
}
@media (max-width:576px){
  .navbar{
  height:7%;
  background-color:green;  
}
