*{
        margin:0;
        padding:0;
}

.navbar{
        width:100%;
        height:10%;
        background-color:black;
        display:flex;
}
.logo{
        width:20%;
        flex:1;
        /* background-color:white; */
}
.logo a{
        width:100%;
        height:100%;
        display:flex;
        justify-content:center;
}
.logo a img{
        width:auto;
        height:auto;
}
.menu{
        width:80%;
        /* display:flex; */
        flex:3;
}
.menu .menubar{
        height:100%;
        width:80%;
}
.menu .menubar ul{
        height:100%;
        width:100%;
        display:flex;
        align-items:center;
        justify-content:space-around;
        position:relative;
}
.menu ul li{
        list-style-type:none; 
}
.menu ul li a{
        text-decoration:none;
        color:white;
        font-size:1vw;
        position:absolate;
}

/* .bar{
        width:20%;
        height:100%;
        background-color:aqua;
}

.bar h3{
        padding:10%;
        font-size:20px;
        display:none;
} */

/* @media (max-width:576px){
        .menu ul li a{
                display:none;
        }

        .bar h3{
                display:block;
        }
} */
