*{
        margin:0;
        padding:0;
}

.navbar{
        width:100%;
        height:10%;
        /* background:linear-gradient(to left,MediumSpringGreen ,SpringGreen ); */
        background-color:black;
        display:flex;
}
.logo{
        width:25%;
         display:flex;
        justify-content:center;
}
.logo  img{
        width:auto;
        height:auto;
}
.menu{
        width:75%;
        display:flex;
}
.menu .menubar{
        height:100%;
        width:80%;
}
.menu .menubar ul{
        height:100%;
        width:100%;
        display:flex;
        align-items:center;
        justify-content:space-around;
}
.menu .menubar ul li{
        list-style:none; 
        position: relative;        
        height: 100%; 
        width:100%;
        display: flex;
        align-items: center;
}
.menu .menubar ul li a{
        text-decoration:none;
        color:white;
        font-size:1.5vw;
        justify-content:center;
        align-items:center;
        height:100%;
        position:static !important;
        display:flex;
}      
.menu ul .underline_current a{
        text-decoration:underline;
        text-decoration-color:red;
        color: red;
}
.menu ul li a:hover{
        /* text-decoration: underline; */
        color:red;      
}
.menu .menubar ul li .submenu{
       height:auto;
        width:200px;
        display:none;
       background:red; 
        position: absolute;
        top:100%;
        left:50%;
        transform:translateX(-50%);
        border:1px solid black;
        flex-direction:column;
        padding:5px 0;
        z-index:10;
}
.menu .menubar ul li .submenu li{
       list-style:none;
        padding:8px 5%;
        width:90%;
        display:flex;
        justify-content:center;
        align-iteam:center;
}
.menu .menubar ul li .submenu li a{
         font-size:1.5vw;
         color: white;
          text-align: center;
          display: inline-block;
          max-width: 100%;
          /* position: absolute; */
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        
}
.menu .menubar ul li .submenu li:hover{
         background-color:hotpink;
        color:red;        
}
.menubar ul li:hover .submenu{
        display:block;    
}
