*{
  margin:0;
  padding:0;
  
}
.navbar{
  height:10%;
  width:100%;
  display:flex;
  background-color:black;
}
.logo{
  height:100%;
  width:20%;
  display:flex;
  justify-content:center;
}
.logo img{
  height:auto;
  width:auto;
}
.menu {
  display:flex;
  align-item:center;
  width:80%;
  justify-content:space-around;
}
.menu a{
  color:white;
  text-decoration:none;
}
@media (max-width:576px){
  .navbar{
  height:7%;
  background-color:black;  
}
